<div  class="int-modal modal">
  <!-- Modal content -->
  <div class="modal-content">
  <span class="close-modal"><i class="bi bi-x-circle-fill"></i></i></span>
  <div class="my-login-page" id='modal-update'>
  <div class=" h-100" style="display: flex; justify-content: center;">
    <div class="card-wrapper">
  
      <div class="card fat">
        <div class="card-body">
          <h4 class="card-title">Contribute</h4>
          <form action="/contribution"
method="POST" 
         enctype="multipart/form-data" class="my-login-validation  contribute-form" >

<div class="form-group">
              <label for="name">NAME</label>
              <input required id="name" type="text" class="form-control" name="name" value=""  >
            </div>

            <div class="form-group">
              <label for="email">E-Mail Address 
              </label>
              
              <input required id="email" type="email" class="form-control" name="email" value="" >
            </div>
           
  
            
  <div class="form-group mt-2">
      <label for="content">Document</label>
              <input required  id="content" type="file" multiple class="form-control" name="content" >
            </div>
           
  <div class="form-group">
      
              <input val=""  id="user-id" type="hidden"  class="form-control" name="uid" >
            </div>
           
            
  <div class="form-group mt-2">
      <label for="details">Document Details</label>
              
<textarea id="details" class="form-control"  name="details" value="" placeholder='Please specify any other detail about the document'
        rows="5" cols="33">
</textarea>
            </div>
           

            <div class="form-group mt-2">
             
              <button type="submit" class="btn btn-lg  btn-block">
             Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>


<footer id="footer">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
      <div>
      <button class="btn-contribute" id='contribute'>Contribute</button>
      </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="/" class="scrollto">Home</a>
          <a href="/about" class="scrollto">About</a>
          <a href="/terms">Privacy Policy</a>
          <a href="/terms">Terms of Use</a>
          <a href="/terms">Disclaimer</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<%-include("scripts") %> 