<%-include("partials/meta") %> 

<main class='nf-container'>
  <section>
    <h1>404</h1>
     <h1>Page Not Found!!</h1>
    <p>Hmmh!! Seems like this page does not exist or is temporarily down. <b>Click to go back Home or Contact Developer</b></p>
    <div>
      <button class='btn btn-home' onClick='window.location="/"'>
        Go Back Home
      </button>
      <button class='btn btn-contact-dev'>
        Contact Developer
      </button>
    </div>
  </section>
  
  <main>
  

  <%-include("partials/scripts") %> 
