<%-include("partials/meta") %> 

<main class='nf-container'>
  <section>
    <h1 class='text-success'>SUCCESS</h1>
    <p>Thank You for your contribution✨. <b>You will be contacted once the content is approved</b></p>
    <div>
      <button class='btn btn-home' onClick='window.location="/"'>
        Go Back Home
      </button>
    </div>
  </section>
  
  <main>
  

  <%-include("partials/scripts") %> 
