<%-include("partials/meta") %> 

<main class='nf-container'>
  <section>
    <h1 class='text-danger'>FAILED!!</h1>
    <p>Sadly the process failed😔.<br> <b>Ensure that you have filled all the inputs appropriatly and that your wifi connection is stable then retry</b></p>
    <div>
      <button class='btn btn-home' onClick='window.history.back()'>
        Go Back
      </button>
    </div>
  </section>
  
  <main>
  

  <%-include("partials/scripts") %> 
