<%-include("partials/meta") %> 
<div class='spacer'></div>
<div class='spacer'></div>



 
  <div  class="int-modal">
    <!-- Modal content -->
    <div class="modal-content">
    <div class="my-login-page" id='modal-update'>
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
    
        <div class="card fat">
          <div class="card-body">
            <h4 class="card-title">RESEND VERIFICATION EMAIL</h4>
            <h5>Please confirm that you have not received a verification email,</h5>
              <h5 class="text-info" > <i class="bi bi-info" ></i> Check your spam folder too.</h5> 
            <h5>  If You did Not receive the Verification Email. Click <a id='resend' href='#'  ><u> Here</u></a> to get one.</>
              
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  


  <%-include("partials/scripts") %> 
