<%-include("partials/nav") %> 

<div class="spacer"></div>
<div class="spacer"></div>

<div class="container">

  <div class="pt-3 after-search">
  
  <a href="javascript:history.back()"><i class="bi bi-arrow-left"></i> Go back </a>
  <div class="spinner-border text-danger fav-spin d-none spinner-border-sm" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  <i class="fav-icon bi bi-heart"></i>
  </div>
  
<div class="file-loader d-flex flex-column align-items-center justify-content-center mt-2" style="height: 50vh; width: 100%;">

  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <strong class='mt-2'>Loading...</strong>
</div>
  <div class="resource-container d-none">
  <h2 class="file-title" ></h2>
  <img  src='' width='100%' class="file-img" alt="" />

  </div>
  </div>

  <%-include('partials/footer') %>