<%-include("partials/nav") %> 
<div class="spacer"></div>
<div class="my-login-page">
       <section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
			
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
              <span class="user-not-found error d-none text-danger">User not found. Please confirm credetials</span>
              <div class="d-flex justify-content-center d-none log-in-loader loader mb-2 mt-2">
  <div class="spinner-border" role="status">
    <span class="sr-only">Logging in...</span>
  </div>
</div> 
							<form method="POST" class="my-login-validation log-in-form" >
								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
										
									</label>
									<input aria-label="password" id="password" type="password" class="form-control" name="password" required data-eye>
                  <i class="bi bi-eye-slash" id="togglePassword"></i>
                  <a href="/forgot" class="float-right">
											Forgot Password?
										</a>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										
										<label for="remember" class="custom-control-label"><input type="checkbox" name="remember" id="remember" class="custom-control-input"> Remember Me</label>
									</div>
								</div>
  
								<div class="form-group m-0">
                
									<button class="g-recaptcha" 
									data-sitekey="6LfZwv8dAAAAANwzft0wDv0zzoUxyg-kKZA6WlQD
							" 
									data-callback='onSubmit' 
									data-action='submit'  type="submit" class="btn btn-lg  btn-block">
										Login
									</button>
								</div>
                <p style="text-align: center; width: 100%; margin-top: .6rem;">or</p>
                 <div class="form-group m-0">
                 <span class="edulevel-error lead  error d-none text-danger">Please choose education level to continue</span>
									<button type="submit" class="btn btn-lg btn-social btn-google" id='g-login'>
										Log in with Google
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="/signup">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; Study
					</div>
				</div>
			</div>
		</div>
	</section>
      </div>  

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto lead">SUCCESS</strong>
    <button type="button" class="btn btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body lead">
    Verification email sent. Please wait as we redirect you
  </div>
</div>

<%-include("partials/scripts") %> 