<%-include("partials/nav") %> 
<div class='spacer'></div>
<div class='spacer'></div>
<div class='container mb-2'  style='display: flex; justify-content: center; padding: 2rem; width: 100%; '>


<div class='container mb-4 shadow-sm  bg-white p-4 terms-cont' >
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend diam vel pharetra aliquam. Donec non arcu vitae est vestibulum luctus. Sed eleifend tellus ut sapien viverra, ac tempor tortor ultrices. Ut libero ex, efficitur in interdum pretium, auctor eget neque. Sed tempus vel nisl eget mattis. Curabitur ultricies efficitur ligula sit amet sagittis. Vestibulum placerat felis tortor, sed faucibus orci cursus sed. Nulla interdum laoreet urna, in mollis velit. Vestibulum at dolor eget dolor varius vulputate. Cras eu arcu tellus. Ut quis tellus ligula. In ut risus nibh.
</p>
</div>
</div>

<%-include("partials/footer") %> 