@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
:root {
    --primary: #cdf0ea;
    --secondary: #f6c6ea;
    --secondary1: #c490e4;
    --off-white1: #f9f9f9;
    --off-white2: #ebedf5;
    --link: #3498db;
    --link-hover: #5faee3;
    --text-color: #444444;
    --white: #fff;
    --black: #222222;
    --box-shadow1: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.spacer {
    width: 100%;
    height: 4rem;
}
.toast {
    z-index: 1000000;
}
body,
html {
    min-height: 100vh;
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
}
body {
    background-color: var(--off-white1);
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn-contribute:hover,
.btn:hover {
    opacity: 1;
}
.btn {
    opacity: 0.9;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, sans-serif;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--link);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
.back-to-top i {
    font-size: 28px;
    color: var(--white);
    line-height: 0;
}
.back-to-top:hover {
    background: var(--link);
    color: var(--white);
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: var(--white);
}
#header.header-scrolled {
    box-shadow: var(--box-shadow1);
    padding: 12px 0;
}
#header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
    color: var(--black);
    text-decoration: none;
}
#header .logo .navbar-brand {
    margin-right: 3.5rem;
    min-width: auto;
}
#header .logo img {
    padding: 0;
    margin: auto 0.6rem;
    max-height: 40px;
}
.search {
    border: 1px solid var(--off-white2);
    border-radius: 13px;
    background-color: var(--off-white2);
    display: inline;
    padding: 8px;
    margin-right: 1rem;
}
#search {
    border-radius: 9px;
    width: 100%;
}
.search:focus {
    outline: 0;
    border: 1px solid var(--black);
    background-color: var(--white);
    padding-left: 1rem;
}
.search::placeholder {
    text-align: center;
}
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.nav-link {
    cursor: pointer;
}
.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 400;
    color: var(--black);
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar .active,
.navbar .active:focus,
.navbar a:hover,
.navbar li:hover > a {
    color: var(--link);
}
.navbar .getstarted {
    background: var(--link);
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 50px;
    color: var(--white);
}
.navbar .getstarted:hover {
    color: var(--white);
    background: var(--link-hover);
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--white);
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul li:hover > a {
    color: var(--link);
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}
.mobile-nav-toggle {
    color: var(--black);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: var(--white);
}
@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
    .search {
        width: 13rem;
    }
}
.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: var(--white);
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--black);
}
.navbar-mobile .active,
.navbar-mobile a:hover,
.navbar-mobile li:hover > a {
    color: var(--link);
}
.navbar-mobile .getstarted {
    margin: 15px;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: var(--white);
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: var(--link);
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}
#hero {
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--black);
}
#hero h2 {
    color: #484848;
    margin-bottom: 50px;
    font-size: 24px;
}
#hero .btn-log-in,
#hero .btn-sign-up {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    transition: 0.5s;
    color: var(--secondary1);
    border: 2px solid var(--secondary1);
}
#hero .btn-log-in:hover,
#hero .btn-sign-up {
    background: var(--secondary1);
    color: var(--white);
}
#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}
@media (max-width: 991px) {
    #hero {
        height: 100vh;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
}
@media (max-width: 768px) {
    #hero {
        margin-top: 20px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
}
@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}
@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: var(--black);
}
.section-title p {
    margin: 15px 0 0 0;
}
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}
.about .about-content {
    width: 100%;
    text-align: justify;
    padding: auto auto auto 3rem;
}
.about .content p:last-child {
    margin-bottom: 0;
}
.about .content .btn-learn-more {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: var(--white);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid var(--secondary1);
    background: var(--secondary1);
}
.testimonials .testimonial-wrap {
    padding-left: 50px;
}
.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: var(--box-shadow1);
    position: relative;
    background: var(--white);
}
.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    border: 6px solid var(--white);
    position: absolute;
    left: -45px;
}
.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px 0;
    color: var(--black);
}
.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #e1f0fa;
    font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}
.testimonials .testimonial-item p {
    font-style: italic;
    margin: 15px auto 15px auto;
}
.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--white);
    opacity: 1;
    border: 1px solid var(--link);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--link);
}
@media (max-width: 767px) {
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }
    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }
    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
}
.contact .contact-about h3 {
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--black);
}
.contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: Raleway, sans-serif;
    color: #888;
}
.contact .social-links {
    padding-bottom: 20px;
}
.contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--white);
    color: var(--link);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid var(--link);
}
.contact .social-links a:hover {
    background: var(--link);
    color: var(--white);
}
.contact .info {
    color: #444;
}
.contact .info i {
    font-size: 32px;
    color: var(--link);
    float: left;
    line-height: 1;
}
.contact .info p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
}
.contact .php-email-form .error-message {
    display: none;
    color: var(--white);
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}
.contact .php-email-form .sent-message {
    display: none;
    color: var(--white);
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .php-email-form .loading {
    display: none;
    background: var(--white);
    text-align: center;
    padding: 15px;
}
.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px 15px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--link);
}
.contact .php-email-form button[type="submit"] {
    background: var(--secondary1);
    border: 0;
    padding: 10px 24px;
    color: var(--white);
    transition: 0.4s;
    border-radius: 50px;
}
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate-loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.breadcrumbs {
    padding: 15px 0;
    background: #f8f8f8;
    min-height: 40px;
    margin-top: 86px;
}
@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 72px;
    }
}
.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}
.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
@media (max-width: 992px) {
    .breadcrumbs ol {
        margin-top: 10px;
    }
}
.breadcrumbs ol li + li {
    padding-left: 10px;
}
.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #3c3c3c;
    content: "/";
}
@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}
.my-login-page {
    background-color: var(--off-white1);
    font-size: 14px;
}
.my-login-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: var(--box-shadow1);
    position: relative;
    z-index: 1;
}
.my-login-page .brand img {
    width: 100%;
}
.my-login-page .card-wrapper {
    width: 400px;
}
.my-login-page .card {
    border-color: transparent;
    box-shadow: var(--box-shadow1);
}
.my-login-page .card.fat {
    padding: 10px;
}
.my-login-page .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.my-login-page .form-group label {
    width: 100%;
}
.is-invalid:focus,
.is-valid:focus,
.my-login-page input:focus,
.my-login-page select:focus,
form-control:focus {
    border: 1px solid var(--link);
    outline: 0;
    box-shadow: none;
}
.my-login-page .form-group label {
    width: 100%;
    margin: 0.8rem 0;
}
.btn.btn-block {
    padding: 6px 7px;
    background-color: var(--secondary1);
    width: 100%;
    color: #fff;
}
.my-login-page .btn.btn-block:hover {
    filter: brightness(95%);
}
.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}
#conpassword,
#password {
    display: inline;
}
input[checkbox] {
    display: inline;
}
.btn-social {
    width: 100%;
}
@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .card{
      width: 100%;
    }

    .card-body{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        padding: 0;
    }
    .my-login-page .card.fat .card-body {
        padding: 15px;
        width: 100%;
    }
}
.skel-loader-cont > div {
    border: 1px solid #000;
    box-shadow: var(--box-shadow1);
    padding: 1rem;
    margin-left: 1rem;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.skel-loader-cont > div > div {
    margin-top: 0.4rem;
}
.skel-loader-cont > div > div:first-child {
    height: 60%;
    width: 100%;
}
.skel-loader-cont > div > div:nth-child(2) {
    height: 6%;
    width: 50%;
    align-self: center;
}
.skel-loader-cont > div > div:not(:first-child) {
    height: 6%;
    width: 50%;
}
.skeleton-loader:empty {
    width: 100%;
    height: 15px;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), #d3d3d3;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}
@keyframes shine {
    to {
        background-position: 100% 0;
    }
}
.resources-container {
    width: 100%;
    padding: 4rem auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}
.search-container {
    width: 100%;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
.search-container > input:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #000;
}
.resources-search-btn {
    background-color: var(--secondary);
}
.main-content,
.skel-loader-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.9rem;
    justify-items: center;
}
.main-content > div {
    border: 1px solid #000;
    box-shadow: var(--box-shadow1);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
    margin-left: 0.9rem;
    transition: all 0.5s ease-in-out;
}
.main-content > div img {
    width: 300px;
    height: 200px;
    justify-self: center;
}
.main-content > div > h3 {
    text-align: center;
    padding: 1rem;
}
.main-content > div > p {
    margin-left: 15px;
}
.pagination-btns {
    width: 100%;
    padding: 1rem;
}
button.pagination-btn {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow1);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.active-btn {
    background-color: #cdf0ea !important;
}
.animate-pulse {
    background-color: #eee;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
    50% {
        opacity: 0.9;
    }
}
.resource-container {
    width: 70%;
    margin: 1rem auto;
    border: 1px solid #000;
}
.resource-container h2 {
    text-align: center;
    margin: 0.7rem auto;
    text-decoration: underline;
}
.after-search {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.fav-icon {
    cursor: pointer;
}
.bi-heart-fill {
    color: red;
}
@media (max-width: 991px) {
    .resource-container {
        width: 100%;
    }
    .terms-cont {
        width: 100%;
    }
}
.terms-cont {
    width: 70%;
    margin: 1rem auto;
    border-radius: 8px;
}
.not-verified {
    width: 100%;
    background-color: #fff;
    font-weight: 700;
    text-align: center;
}
.user-dashboard-container {
    display: grid;
    gap: 1px;
    grid-template-areas: "favourite  . profile" "favourite . profile" "visited . profile";
    grid-template-columns: 1fr 15rem;
    position: relative;
    margin-top: 0.7rem;
}
.favourite-notes-container {
    grid-area: favourite;
    gap: 0.5rem;
}
.favourite-notes-container > h2 {
    text-align: center;
}
.favourite-notes-container .favourite-notes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}
.contribution-info-cont > div,
.favourite-notes-container .favourite-notes > div {
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow1);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    max-width: 300px;
    border-radius: 10px;
    margin-left: 1rem;
}
.favourite-notes-container .favourite-notes > div > img {
    justify-self: center;
}
.favourite-notes-container .favourite-notes > div > h3 {
    text-align: center;
    padding: 1rem;
}
.favourite-notes-container .favourite-notes > div > p {
    margin-left: 15px;
}
.user-profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    height: 100%;
}
.user-profile .personal-info {
    box-shadow: var(--box-shadow1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--white);
}
.user-profile .personal-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.user-profile .personal-info .edit-profile-btn {
    border-radius: 5px;
    color: var(--white);
    background-color: var(--secondary1);
    font-size: 20px;
    border: none;
    padding: 5px 7px;
    width: 100%;
}
.user-profile .personal-info #log-out-btn {
    border-radius: 5px;
    color: #000;
    background-color: grey;
    font-size: 20px;
    border: none;
    padding: 5px 7px;
    width: 100%;
}
.user-profile .contribution-info {
    box-shadow: var(--box-shadow1);
    background-color: var(--white);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contribution-info > .contribution-info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-right: 0.3rem;
    max-height: 430px;
}
.contribution-info-cont::-webkit-scrollbar {
    width: 0.7rem;
}
.contribution-info-cont::-webkit-scrollbar-track {
    background-color: var(--off-white1);
}
.contribution-info-cont::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 12px;
}
.contribution-info-cont > div {
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow1);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    border-radius: 10px;
    margin-left: 1rem;
    margin-bottom: 0.6rem;
}
.prev-visited {
    grid-area: visited;
    margin-top: 2rem;
}
skel-loader-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
}
@media (max-width: 1200px) {
    .user-dashboard-container {
        display: flex;
        flex-direction: column;
    }
    .user-profile {
        order: 1;
    }
    .favourite-notes-container {
        margin: 1.6rem;
        order: 2;
    }
    .contribution-info > .contribution-info-cont {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        justify-items: center;
    }
    .contribution-info {
        margin-bottom: 1.3rem;
    }
    .prev-visited {
        order: 3;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
}
#modal-update .card {
    box-shadow: none;
}
#modal-update > div {
    background-color: #fff;
}
.close-modal {
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: #000;
    padding-right: 1.5rem;
    padding-top: 1rem;
}
.close-modal > i:focus,
.close-modal > i:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 991px) {
    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 95%;
    }
}
.toast {
    position: fixed;
    right: 12px;
    top: 5.6rem;
}
#footer {
    background: var(--white);
    box-shadow: var(--box-shadow1);
    padding: 30px 0;
    color: var(--black);
    font-size: 14px;
}
.btn-contribute {
    border-radius: 5px;
    color: #fff;
    background-color: var(--secondary1);
    font-size: 20px;
    border: none;
    padding: 5px 7px;
}
#footer .footer-links a {
    color: var(--black);
    padding-left: 15px;
}
#footer .footer-links a:first-child {
    padding-left: 0;
}
#footer .footer-links a:hover {
    color: var(--link);
}
.nf-container {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 3rem;
    height: 100vh;
}
.nf-container h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.nf-container p {
    font-size: 1rem;
    text-align: center;
    width: 60%;
}
.nf-container > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--box-shadow1);
    background-color: var(--white);
}
.nf-container > section > div > .btn {
    background: var(--secondary1);
    color: var(--white);
    margin: 0.4rem;
}
@media (max-width: 991px) {
    .nf-container > section > div {
        display: flex;
        flex-direction: column;
    }
    .nf-container h1:nth-child(2) {
        font-size: 2.6rem;
        text-align: center;
    }
    .nf-container p {
        font-size: 0.9rem;
        width: 80%;
    }
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-social.btn-lg {
    padding-left: 61px;
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active,
.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active:hover {
    color: #fff;
    background-color: #a32b1c;
    border-color: rgba(0, 0, 0, 0.2);
}
ul.pagination:after,
ul.pagination:before {
    display: table;
    content: " ";
}
ul.pagination {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
    display: table;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #000;
}
ul.pagination:after {
    clear: both;
}
ul.pagination > li {
    float: left;
    margin: 0 2px;
    padding: 0;
}
ul.pagination > li > a {
    display: block;
    margin: 0;
    padding: 0 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #f6c6ea;
    border-radius: 4px;
    background-color: #f6c6ea;
}
ul.pagination > li > span {
    display: inline;
    padding: 7px 10px;
    cursor: default;
    text-align: center;
    color: #000;
}
ul.pagination > li.active > a,
ul.pagination > li.active > a:focus,
ul.pagination > li.active > a:hover {
    cursor: default;
    color: #000;
    border: 1px solid #cdf0ea;
    outline: 0;
    background-color: #cdf0ea;
}
ul.pagination > li.disabled > a,
ul.pagination > li.disabled > a:focus,
ul.pagination > li.disabled > a:hover {
    cursor: not-allowed;
    color: #999;
    border: 1px solid #ccc;
    outline: 0;
    background-color: #fff;
}
